{% extends 'base.html.twig' %}

{% block title %} UserManagement {% endblock %}

{% block body %}
    
    <br>
    <h3>Usuarios Registrados</h3>
    <table class="table table-striped">
      <thead>
        <tr>
            <th >Id</th>
            <th >Correo</th>
            <th >Roles</th>
            <th>Conceder permisos de administrador</th>
        </tr>
      </thead>
      <tbody>
        {%  for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% for rol in user.roles %}
                    {{rol}}
                {% endfor %}
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes">
                    <label class="form-check-label" for="mySwitch"></label>
                </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <div>
        <a href="#" class="btn btn-primary">Confirmar</a>
    </div>
  

{% endblock %}
