{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock title %}

{% block body %}
    <div>
        <br>
        <h1 class="text-center">Bienvenido a la página de Administrador de <i class="bi bi-hand-index-thumb-fill"></i>clickSH<i class="bi bi-emoji-sunglasses-fill"></i>P</h1>
      <!--  <p class="lead">Descripción de la página de bienvenida.</p> -->
    </div>
{% endblock %}