{% extends 'base.html.twig' %}

{% block title%}Nuevo Artículo{% endblock %}

{% block body %}

 <h1>Agregar nuevo artículo</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end (form) }}

{% endblock %}
