{% extends 'baseHomeUser.html.twig' %}

    {% block title %}Sobre Nosotros{% endblock %}
   
    {% block stylesheets %}
        <link rel="stylesheet" href="\CRUD_Symfony4\Archivos\css\about_us_style.css">
    {% endblock %}

{% block body %}
    <br>
    <section class = "box">
        <img src="\CRUD_Symfony4\Archivos\about_us\logoTienda.png" class="img-responsive box-img" alt="logo tienda" width="220">
        <h1><i class="bi bi-hand-index-thumb"></i> clickSH<i class="bi bi-emoji-sunglasses"></i>P</h1>
        <h2>¿Quiénes somos?</h2>
        <p>Somos una empresa del sector eCommerce a nivel nacional, con sede en Popayán y especializada en 
            una amplia gama de artículos tecnólogicos.</p>
        <h2>Fundación</h2>
        <p>30/06/2015, Popayán-Cauca</p>
        <h2>Misión</h2>
        <p>Nuestra misión es prestar el mejor servicio posible a nuestros clientes. Sin embargo, nuestra labor va mucho más allá. 
            Nos gusta estar cerca del cliente, intercambiar opiniones, ideas, ayudarle en cualquier cuestión que necesite. </p>
        <h2>Visión</h2>
        <p>En clickSHOP nos esforzamos por seguir siendo una de las mejores empresas de Colombia en el sector eCommerce.
            No basta con crear una tienda online, nosotros queremos mejorarla, hacerla eficiente, lograr un diseño adecuado y personal,
            conseguir que todas las personas que confían en nosotros obtengan lo mejor de nosotros.</p>
        <h2>Ubicación</h2>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.142972456731!2d-76.59701638591!3d2.4594819576923888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30039d7270d777%3A0xa749ba51fed22c24!2sCampanario%20Centro%20Comercial!5e0!3m2!1ses-419!2sco!4v1646575422129!5m2!1ses-419!2sco" 
                     style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <br>  
        <h2>Redes</h2>
        <a href="https://www.facebook.com/juandavid.becap/" target="_blank"><i class="bi bi-facebook" style="font-size:30px; color:white;"></i></a>&nbsp;&nbsp;
        <a href="https://www.instagram.com/bc.98p/?hl=es-la" target="_blank"><i class="bi bi-instagram" style="font-size:30px; color:white;"></i></a>&nbsp;&nbsp;
        <a href="https://twitter.com/066Jdavid" target="_blank"><i class="bi bi-twitter" style="font-size:30px; color:white;"></i></a>&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/juan-david-beca-pillimue-aa3168207/" target="_blank"><i class="bi bi-linkedin" style="font-size:30px; color:white;"></i></a>
    </section>
    
{% endblock %}
