{% extends 'baseHomeUser.html.twig' %}

    {% block title %}Sobre Nosotros{% endblock %}
   
    {% block stylesheets %}
        <link rel="stylesheet" href="\CRUD_Symfony4\Archivos\css\about_us_style.css">
    {% endblock %}

{% block body %}

    <section class = "box">
        <img src="\CRUD_Symfony4\Archivos\about_us\logoTienda.png" class="img-responsive" alt="logo tienda" width="220">
        <h1><i class="bi bi-hand-index-thumb"></i> clickSH<i class="bi bi-emoji-sunglasses"></i>P</h1>
        <h2>¿Quiénes somos?</h2>
        <p>Somos una empresa del sector eCommerce especializada en artículos tecnólogicos</p>
        <h2>Fundación</h2>
        <p>sdhfjhsdfhjsbadfhjbfsdhbfj</p>
        <h2>Misión/Visión</h2>
        <p>sdhfjhsdfhjsbadfhjbfsdhbfj</p>
        <h2>Ubicación</h2>
    </section>
    
{% endblock %}
